<?xml version="1.0"?>
<!--
/**
 * Admin menu configuration for RCubed ShippingManager.
 *
 * This file defines the admin menu structure for the Shipping Manager module.
 *
 * @category   RCubed
 * @package    RCubed_ShippingManager
 * @author     R-Cubed Solutions <drussell@rcubedpro.com>
 * @copyright  2025 R-Cubed Solutions (https://www.rcubedpro.com)
 * @license    https://opensource.org/licenses/OSL-3.0 Open Software License 3.0 (OSL-3.0)
 * @link       https://www.rcubedpro.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="RCubed_ShippingManager::rcubed" 
             title="R-Cubed Solutions" 
             module="RCubed_ShippingManager" 
             sortOrder="100" 
             resource="RCubed_ShippingManager::rcubed"/>
             
        <add id="RCubed_ShippingManager::shipping_manager" 
             title="Shipping Manager" 
             module="RCubed_ShippingManager" 
             sortOrder="10" 
             parent="RCubed_ShippingManager::rcubed" 
             resource="RCubed_ShippingManager::shipping_manager"/>
             
        <add id="RCubed_ShippingManager::shipping_methods" 
             title="Shipping Methods" 
             module="RCubed_ShippingManager" 
             sortOrder="10" 
             parent="RCubed_ShippingManager::shipping_manager" 
             action="rcubed_shippingmanager/method/index" 
             resource="RCubed_ShippingManager::shipping_methods"/>
             
        <add id="RCubed_ShippingManager::shipping_rules" 
             title="Shipping Rules" 
             module="RCubed_ShippingManager" 
             sortOrder="20" 
             parent="RCubed_ShippingManager::shipping_manager" 
             action="rcubed_shippingmanager/rule/index" 
             resource="RCubed_ShippingManager::shipping_rules"/>
    </menu>
</config>