<?xml version="1.0"?>
<!--
/**
 * Frontend routes configuration for RCubed ShippingManager.
 *
 * This file defines the frontend routing for the Shipping Manager module.
 *
 * @category   RCubed
 * @package    RCubed_ShippingManager
 * @author     R-Cubed Solutions <drussell@rcubedpro.com>
 * @copyright  2025 R-Cubed Solutions (https://www.rcubedpro.com)
 * @license    https://opensource.org/licenses/OSL-3.0 Open Software License 3.0 (OSL-3.0)
 * @link       https://www.rcubedpro.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="rcubed_shippingmanager" frontName="rcubed_shippingmanager">
            <module name="RCubed_ShippingManager" />
        </route>
    </router>
</config>