<?xml version="1.0"?>
<!--
/**
 * ACL configuration for RCubed ShippingManager.
 *
 * This file defines the module's permissions structure for the admin area.
 *
 * @category   RCubed
 * @package    RCubed_ShippingManager
 * @author     R-Cubed Solutions <drussell@rcubedpro.com>
 * @copyright  2025 R-Cubed Solutions (https://www.rcubedpro.com)
 * @license    https://opensource.org/licenses/OSL-3.0 Open Software License 3.0 (OSL-3.0)
 * @link       https://www.rcubedpro.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="RCubed_ShippingManager::rcubed" title="R-Cubed Solutions" sortOrder="100">
                    <resource id="RCubed_ShippingManager::shipping_manager" title="Shipping Manager" sortOrder="10">
                        <resource id="RCubed_ShippingManager::shipping_methods" title="Shipping Methods" sortOrder="10">
                            <resource id="RCubed_ShippingManager::method_save" title="Save Shipping Method" sortOrder="10" />
                            <resource id="RCubed_ShippingManager::method_delete" title="Delete Shipping Method" sortOrder="20" />
                            <resource id="RCubed_ShippingManager::method_create" title="Create Shipping Method" sortOrder="5" />
                        </resource>
                        <resource id="RCubed_ShippingManager::shipping_rules" title="Shipping Rules" sortOrder="20">
                            <resource id="RCubed_ShippingManager::rule_save" title="Save Shipping Rule" sortOrder="10" />
                            <resource id="RCubed_ShippingManager::rule_delete" title="Delete Shipping Rule" sortOrder="20" />
                            <resource id="RCubed_ShippingManager::rule_create" title="Create Shipping Rule" sortOrder="5" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="RCubed_ShippingManager::config" title="R-Cubed Shipping Manager Configuration" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>