<?xml version="1.0"?>
<!--
/**
 * Default configuration for RCubed ShippingManager.
 *
 * @category   RCubed
 * @package    RCubed_ShippingManager
 * @author     R-Cubed Solutions <drussell@rcubedpro.com>
 * @copyright  2025 R-Cubed Solutions (https://www.rcubedpro.com)
 * @license    https://opensource.org/licenses/OSL-3.0 Open Software License 3.0 (OSL-3.0)
 * @link       https://www.rcubedpro.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <rcubedshipping>
                <active>1</active>
                <title>Custom Shipping Methods</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <showmethod>0</showmethod>
                <specificerrmsg>This shipping method is not available. Please try another shipping method.</specificerrmsg>
                <model>RCubed\ShippingManager\Model\Carrier\CustomShipping</model>
            </rcubedshipping>
        </carriers>
    </default>
</config>