<?xml version="1.0"?>
<!--
/**
 * Dependency injection configuration for RCubed ShippingManager.
 *
 * This file defines interfaces, preferences, and virtual types for the module.
 *
 * @category   RCubed
 * @package    RCubed_ShippingManager
 * @author     R-Cubed Solutions <drussell@rcubedpro.com>
 * @copyright  2025 R-Cubed Solutions (https://www.rcubedpro.com)
 * @license    https://opensource.org/licenses/OSL-3.0 Open Software License 3.0 (OSL-3.0)
 * @link       https://www.rcubedpro.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Preferences for API interfaces -->
    <preference for="RCubed\ShippingManager\Api\Data\MethodInterface" type="RCubed\ShippingManager\Model\Method" />
    <preference for="RCubed\ShippingManager\Api\Data\RuleInterface" type="RCubed\ShippingManager\Model\Rule" />
    <preference for="RCubed\ShippingManager\Api\MethodRepositoryInterface" type="RCubed\ShippingManager\Model\MethodRepository" />
    <preference for="RCubed\ShippingManager\Api\RuleRepositoryInterface" type="RCubed\ShippingManager\Model\RuleRepository" />
    <preference for="RCubed\ShippingManager\Api\Data\MethodSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="RCubed\ShippingManager\Api\Data\RuleSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    
    <!-- UI Component Grid Collections -->
    <virtualType name="RCubed\ShippingManager\Model\ResourceModel\Method\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">rcubed_shipping_method</argument>
            <argument name="resourceModel" xsi:type="string">RCubed\ShippingManager\Model\ResourceModel\Method</argument>
        </arguments>
    </virtualType>
    
    <virtualType name="RCubed\ShippingManager\Model\ResourceModel\Rule\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">rcubed_shipping_rule</argument>
            <argument name="resourceModel" xsi:type="string">RCubed\ShippingManager\Model\ResourceModel\Rule</argument>
        </arguments>
    </virtualType>
    
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rcubed_shippingmanager_method_listing_data_source" xsi:type="string">RCubed\ShippingManager\Model\ResourceModel\Method\Grid\Collection</item>
                <item name="rcubed_shippingmanager_rule_listing_data_source" xsi:type="string">RCubed\ShippingManager\Model\ResourceModel\Rule\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Custom Shipping Carrier -->
    <virtualType name="RCubed\ShippingManager\Model\Carrier\CustomShippingConfig" type="Magento\Shipping\Model\Config">
        <arguments>
            <argument name="defaultCarrierConfig" xsi:type="array">
                <item name="rcubedshipping" xsi:type="array">
                    <item name="model" xsi:type="string">RCubed\ShippingManager\Model\Carrier\CustomShipping</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    
    <!-- Add custom shipping method to active carriers list -->
    <type name="Magento\Shipping\Model\Config">
        <plugin name="rcubed_shippingmanager_add_carrier" type="RCubed\ShippingManager\Plugin\Shipping\CarrierConfig" />
    </type>
</config>