<?xml version="1.0"?>
<!--
/**
 * Module declaration for RCubed ShippingManager, enabling custom shipping methods with conditional rules.
 *
 * This file defines the module identity, version, and load sequence dependencies.
 *
 * @category   RCubed
 * @package    RCubed_ShippingManager
 * @author     R-Cubed Solutions <drussell@rcubedpro.com>
 * @copyright  2025 R-Cubed Solutions (https://www.rcubedpro.com)
 * @license    https://opensource.org/licenses/OSL-3.0 Open Software License 3.0 (OSL-3.0)
 * @link       https://www.rcubedpro.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="RCubed_ShippingManager">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Shipping"/>
            <module name="Magento_Store"/>
            <module name="Magento_UI"/>
            <module name="Magento_Rule"/>
        </sequence>
    </module>
</config>